<% include ./partials/Dash_navBar %>
<div class="dash-wraper">
<div class="side-nav">
    <ul id="ul">
        <a href="/emp/dashboard"><li id="li" ><i class="fas fa-home"></i> Home</li></a>
        <a href="/emp/requests"><li id="li" ><i class="fas fa-notes-medical"></i> Client Request</li></a>
        <a href="/emp/write-blog"><li id="li" ><i class="fas fa-pen"></i> Write Blogs</li></a>
        <a href="/emp/chat"><li id="li"><i class="fas fa-comment-dots"></i> Chat</li></a>
        <a href="/emp/salary"><li id="li"><i class="fas fa-rupee-sign"></i> Wallet</li></a>
        <a href="/emp/reports"><li id="li"><i class="far fa-clipboard"></i> Reports</li></a>
        <a href="/emp/pre-client"><li id="li" class="focus"><i class="fas fa-crown"></i> Clients</li></a>
        <a href="/logout"><li id="li"><i class="fas fa-power-off"></i> Logout</li></a>
    </ul>
<div class="inner-image"></div>
</div>
<div class="main">
    <div class="inner-main">
        <div class="table">
            <table>
                <tr>
                    <th id="no-border">S. NO</th>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Age</th>
                    <th>Occupation</th>
                    <th>Desease</th>
                    <th>Program Type</th>
                    <th>Goal</th>
                    <th>Diet Plan</th>
                    <th>Excersie Plan</th>
                </tr>
                <% for(var i = 0; i < docs.length; i++) { %>
                    <tr class="tr">
                        <td id="no-border"><%= i %></td> 
                        <td><%= docs[i].first_name %></td>
                        <td><%= docs[i].height %></td>
                        <td><%= docs[i].weight %></td>
                        <td><%= docs[i].age %></td>
                        <td><%= docs[i].job %></td>
                        <td><%= docs[i].disease %></td>
                        <td><%= docs[i].goal %></td>
                        <td><%= docs[i].g_weight %></td> 
                        <td><a href="/emp/diet-plan-upload-client"><button>Upload</button></a></td> 
                        <td><a href="/emp/excersie-plan-upload-client"><button>Upload</button></a></td> 
                    <% }; %>
            </table>
        </div>
    </div>
    <% if(docs.length <= 0) { %>
        <h1>No Client Yet...</h1>
    <% } %>
</div>
</div>

<style>
    .table{
        overflow: scroll;
        width: 140%;
    }
    #no-border{
        border-left:none !important;
    }
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    button{
        padding: 4px 20px;
        transition: .1s ease-in-out;
        cursor: pointer;
    }
    button:hover{
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 6px 22px;
    }
    input{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       height: 20px;
       width: 20px;
    }
    table{
        width: 180%;
        margin-left: 10px;
        background-color: #eee;
        border: 1px solid #000;
    }
    tr{
        height: 40px;
        transition: .2s ease-in-out;
    }
    .tr:hover{
        background-color: aliceblue;
    }
    th{
        border-left: 1px solid #000;
    }
    td{
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        text-align: center;
    }
    .focus{
        background-color: #1391ff;
        border: none;
        border-left: 10px solid #fff;
        transform: translateX(-1px); 
        width: 96.2% !important;
    }
</style>


